<div class="container px3 py2">
  <div>
    <p>Conversation with <span class="bold"><%= @user.phone %></span></p>
  </div>

  <%= react_component('Conversation', messages: @conversation.messages, conversation: @conversation) %>
</div>
